* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}   


header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0b794b;
}

header .logo {
  position: relative;
  max-width: 80px;
}

header ul {
  position: relative;
  display: flex;
  list-style-type: none;
  padding: 0;
}


header ul li {
  list-style: none;
  margin: 10px 0;
}

header ul li a {
  display: inline-block;
  color: #0f0f0f; 
  font-weight: 400;
  margin-left: 48px;
  text-decoration: none;
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textBox {
  position: relative;  
  max-width: 600px;
  text-align: center;
}

h2 {
  color: #333;
  font-size: 4em;
  line-height: 5em;
  font-weight: 20px;
  margin-bottom: -1.3em;
  
}

.textBox h2 span {
  color: #017143;
  font-size: 1.2em;
  font-weight: 900;
  font-display: left;
}

p {
 color: #0e0d0d;
 font-style:unset;
 font-size: large;
 margin:0cm;
}

.textBox a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background-color: #017143;
  color: #fff;
  text-decoration: none;
  border-radius: 40px;
  font-weight: 500;
  
}


.imgBox {
  width: 500px;
  display:contents;
  justify-content:flex-end;
  padding-right: 100px;
  position:right;
}


.imgBox img
{
  max-width: 255px;
  position:absolute;
  right: 9%;
  bottom: -130px;
  
}


.thumb {
  position: absolute;
  left: 50%;
  bottom: -130px;
  transform: translateX(-50%);
  display: flex;
}

.thumb li {
  list-style: none;
  display: inline-block;
  margin: 15px;
  cursor: pointer;
  transition: 1s;
 
}

.thumb li:hover
{
  transform: translate(-15px);
}

.thumb li img {
max-width: 60px; 
}


.sci {
  position:absolute;
  top: 80%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  margin: 15px;
  transform: scale(0.6);
  filter: invert(1.1);

}

.circle
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #017143;
  clip-path: circle(600px at right 800px);
}


.sci li a:hover img {
  transform: scale(1.2); 
}  

